@import "../../scripts/gt_dictionary.css";

e {
    display: block;
    collapsible: yes;
    not-collapsible-head: 1;
    background-color: #eeeeee;
}

l {
	font-weight: bold;
	color: blue;
}

l:after {
    display: inline;
    content: " " attr(decl) ', ' ;
    font-style: italic;
    font-size: smaller;
}

e > mg:before {
	display: inline;
    content: counter(n, decimal) ". ";
    font-weight: bold;
}

mg {
    display: block;
    collapsible: yes;
    border: 1 solid gray;
    margin-bottom: 1.33ex;
    background-color: #ffffff;
}

tg + tg:before {
    content: "; ";
}

t + t:before {
    content: ", ";
}

t[decl]:after {
    display: inline;
    content: attr(decl);
    font-style: italic;
    color: gray;
    vertical-align: super;
}

stem {
	font-style: italic;
}

stem:before {
    content: "(";
    font-style: normal;
    font-size:small;
}

stem:after {
    content: ")";
    font-style: normal;
    font-size:small;
}

stem:before {
    content: " stamme: ";
    font-style: normal;
    font-size:small;
}

stem:after {
    content: '-  ';
}


xg {
    display: block;
}

xg x {
    font-style: italic;
}

xg xt:before {
    content: " ";
}

syng  {
    display: block;
}

tg syng syn {
    font-style: italic;
}

syn:before {
    content: " Synonym: ";
}


comm {
    display: block;
    collapsible: yes;
    font-style: italic;
    font-size:small;
}
