@import "../../scripts/gt_dictionary.css";

l:after {
    display: inline;
    content: ' ' attr(decl) ' ' ;
    font-style: italic;
    font-size: small;
    vertical-align: super;
    color: gray;
}

t[decl]:after {
    content: attr(decl);

stem {
	font-style: italic;
}

stem + stem:before {
    content: ", ";
}

t + stem:before {
    content: "(";
    font-style: normal;
    font-size:small;
}

stem:last-child:after {
    content: ")";
    font-style: normal;
    font-size:small;
}

stem + xg:before {
    content: ") ";
    font-style: normal;
    font-size:small;
}

syng  {
    display: block;
}

tg syng syn {
    font-style: italic;
}

syn:before {
    content: " Synonym: ";
}

comm {
    display: block;
    collapsible: yes;
    font-style: italic;
    font-size:small;
}
