@charset "utf-8";
@import "../../scripts/gt_dictionary.css";

l:after {
    content: attr(decl);
}

t[decl]:after {
    content: attr(decl);
}

stem {
	font-style: italic;
}

stem + stem:before {
    content: ", ";
}

stem + stem {
    margin-left: -.35em;
}

t + stem:before {
    content: " (";
    font-style: normal;
    font-size:small;
}

stem:last-child:after {
    content: ")";
    font-style: normal;
    font-size:small;
}

stem + xg:before {
    content: ") ";
    font-style: normal;
    font-size:small;
}
stem + t:before {
    content: "), ";
    font-style: normal;
    font-size:small;
}

syng  {
    display: inline;
}

syng syn {
    font-style: italic;
    display: inline;
}

syn:before {
    content: " Syn.▸ ";
    font-style: normal;
}

comm {
    display: block;
    font-style: italic;
    font-size:small;
}
